.product-category-container{
    width: 95%;
    margin: 0 auto;
    min-height: 300px;
    border:1px solid turquoise;
    margin-top: 10px;
    padding: 5px;
}

.school-container{
    border:2px solid rgb(255, 0, 21);
}

